<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Couse</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous"/>
    <link href='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.css' rel='stylesheet'/>
    <link rel="stylesheet" href="static/css/styles.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css"/>
  </head>
  <body>
    <!--navbar-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
        <div class="container">
          <a class="navbar-brand" href="#">Bestcourse</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav ms-auto">
              <a class="nav-link active" aria-current="page" href="#">Home</a>
              <a class="nav-link" href="#learn">What you'll learn</a>
              <a class="nav-link" href="#questions">Questions</a>
              <a class="nav-link" href="#instructors">Instructors</a>
            </div>
          </div>
        </div>
    </nav>
    <!--SHowcase-->
    <section class="bg-dark text-light p-5 text-center text-sm-start">
      <div class="bg-dark container">
        <div class="d-lg-flex align-items-center justify-content-between">
          <div class="me-4">
            <h2>Become a <span class="text-warning">Web Developer</span></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris vel tellus ullamcorper nunc vehicula suscipit at in lorem. Sed sed est blandit, vehicula arcu eu, lacinia quam. Aliquam a elit sed diam fringilla imperdiet volutpat sed erat. Maecenas massa purus, dictum id viverra at, porta nec orci. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos.</p>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#enroll">
              Start the Enrollment
            </button>
          </div>
          <img class="img-fluid w-50 d-none d-lg-block" src="static/img/code-laptop-programming-coding.jpg" alt="not found">
        </div>
      </div>
    </section>
    <!--enter email -->
    <section class="bg-primary text-light p-5">
      <div class="container">
        <div class="d-md-flex align-items-center justify-content-between">
          <h3 class="mb-3 mb-md-0">Sign Up For Our News Letter</h3>
          <div id="enteremail" class="input-group ms-md-2">
            <input type="text" class="form-control" placeholder="Enter Email">
            <button class="btn btn-dark btn-lg btn-outline-secondary" type="button">Confirm</button>
          </div>
        </div>
      </div>
    </section>

    <!--boxes-->
    <section class="p-5">
      <div class="container">
        <div class="row text-center">
          <div class="col-md">
            <div class="car bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-laptop"></i>
                </div>
                  <h3 class="card-title mb-3">
                    Virtual
                  </h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque rem cum eum quo cupiditate.
                  </p>
                  <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="car bg-secondary text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-person-square"></i>
                </div>
                  <h3 class="card-title mb-3">
                    Hybrid
                  </h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque rem cum eum quo cupiditate.
                  </p>
                  <a href="#" class="btn btn-dark">Read More</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="car bg-dark text-light">
              <div class="card-body text-center">
                <div class="h1 mb-3">
                  <i class="bi bi-people"></i>
                </div>
                  <h3 class="card-title mb-3">
                    In Person
                  </h3>
                  <p class="card-text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita itaque rem cum eum quo cupiditate.
                  </p>
                  <a href="#" class="btn btn-primary">Read More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </section>
        <!--learn section -->
      <section id="learn" class="p-5">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="col-md">
              <img class="img-fluid" src="static/img/Modern_Web.png" alt="learn">
            </div>
            <div class="p-5 col-md text-center text-md-start">
              <h2>Learn Fundamentals</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem distinctio delectus nesciunt corporis quae sit!</p>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam veritatis dicta iusto repellendus blanditiis doloremque optio ipsam quo quasi recusandae nobis, quaerat in debitis reprehenderit dignissimos magni repudiandae similique asperiores.</p>
              <a href="#" class="btn btn-light mt-3">
                <i class="bi bi-chevron-right"></i>Read More
              </a>
            </div>
          </div>
        </div>
      </section>
      <section id="learn-react" class="p-5 bg-dark text-light">
        <div class="container">
          <div class="row align-items-center justify-content-between">
            <div class="p-5 col-md text-center text-md-start">
              <h2>Learn Fundamentals</h2>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem distinctio delectus nesciunt corporis quae sit!</p>
              <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam veritatis dicta iusto repellendus blanditiis doloremque optio ipsam quo quasi recusandae nobis, quaerat in debitis reprehenderit dignissimos magni repudiandae similique asperiores.</p>
              <a href="#" class="btn btn-light mt-3">
                <i class="bi bi-chevron-right"></i>Read More
              </a>
            </div>
            <div class="col-md">
              <img class="img-fluid" src="static/img/react-framework-logo.jpg" alt="learn">
            </div>
          </div>
        </div>
      </section>
      <section id="questions" class="p-5">
        <div class="container">
          <h2 class="text-center mb-4">
            Frequently Asked Questions
          </h2>
          <div class="accordion accordion-flush" id="questions">
            <!--item1-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-one">
                  Question One
                </button>
              </h2>
              <div id="question-one" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloribus dolor qui numquam enim, sunt quos assumenda dignissimos velit mollitia ipsam, quo et quidem illum odio nulla. Nesciunt impedit illo soluta nam suscipit numquam nulla. Molestias porro vel error molestiae, voluptatum ut dolores minima inventore, expedita tempora a ratione eaque?</div>
              </div>
            </div>
            <!--item 2-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-two">
                  Question Two
                </button>
              </h2>
              <div id="question-two" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloribus dolor qui numquam enim, sunt quos assumenda dignissimos velit mollitia ipsam, quo et quidem illum odio nulla. Nesciunt impedit illo soluta nam suscipit numquam nulla. Molestias porro vel error molestiae, voluptatum ut dolores minima inventore, expedita tempora a ratione eaque?</div>
              </div>
            </div>
            <!--item3-->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#question-three">
                  Question Three
                </button>
              </h2>
              <div id="question-three" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#questions">
                <div class="accordion-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti doloribus dolor qui numquam enim, sunt quos assumenda dignissimos velit mollitia ipsam, quo et quidem illum odio nulla. Nesciunt impedit illo soluta nam suscipit numquam nulla. Molestias porro vel error molestiae, voluptatum ut dolores minima inventore, expedita tempora a ratione eaque?</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="instructors" class="bg-primary p-5">
        <div class="container ">
          <h2 class="text-center text-white">
            Our Instructors
          </h2>
          <p class="text-center lead text-white mb-5">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, fugiat.
          </p>
          <div class="row g-4">
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img src="https://randomuser.me/api/portraits/men/11.jpg" class="rounded-circle mb-3" alt="">
                  <h3 class="card-title mb-3">Joe Doe</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae doloribus officia earum aliquid! Modi!</p>
                  <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img src="https://randomuser.me/api/portraits/women/11.jpg" class="rounded-circle mb-3" alt="">
                  <h3 class="card-title mb-3">Jane Doe</h3> <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae doloribus officia earum aliquid! Modi!</p>
                  <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img src="https://randomuser.me/api/portraits/men/10.jpg" class="rounded-circle mb-3" alt="">
                  <h3 class="card-title mb-3">Sam Smith</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae doloribus officia earum aliquid! Modi!</p>
                  <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-lg-3">
              <div class="card bg-light">
                <div class="card-body text-center">
                  <img src="https://randomuser.me/api/portraits/women/10.jpg" class="rounded-circle mb-3" alt="">
                  <h3 class="card-title mb-3">Sarah Smith</h3>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates quae doloribus officia earum aliquid! Modi!</p>
                  <a href="#"><i class="bi bi-twitter text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-linkedin text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-facebook text-dark mx-1"></i></a>
                  <a href="#"><i class="bi bi-instagram text-dark mx-1"></i></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="p-5">
        <div class="container">
          <div class="row g-4">
            <div class="col-md">
              <h2 class="text-center mb-4">Contact Info</h2>
              <ul class="list-group list-group-flush lead">
                <li class="list-group-item">
                  <span class="fw-bold">Main Location:</span> 50 Main st
                </li>
                <li class="list-group-item">
                  <span class="fw-bold">Enrollment Phone Number:</span> 555-555-555
                </li><li class="list-group-item">
                  <span class="fw-bold">Enrollment E-mail:</span> kakaka@mail.com
                </li>
              </ul>
            </div>
            <div class="col-md">
              <div id='map' style='width: 100%; height: 100%; border-radius:15px;'></div>
            </div>
          </div>
        </div>

      </section>
    <footer class="bg-dark p-5 text-white position-relative">
      <div class="container">
        <p class="lead text-center">Copyright &copy; 2021 Frontend Bootcamp</p>
        <a href="#" class="position-absolute bottom-0 end-0 p-5">
          <i class="bi bi-arrow-up-circle h1"></i>
        </a>
      </div>
    </footer>
    <!-- Modal -->
    <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="enrollLabel">Modal title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <p class="lead">Fill out this form and we will get back to you</p>
            <div class="input-group mb-3">
              <span class="input-group-text">First and last name:</span>
              <input type="text" aria-label="First name" class="form-control">
              <input type="text" aria-label="Last name" class="form-control">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="mail">Email:</span>
              <input type="text" class="form-control" placeholder="Email" aria-label="Username" aria-describedby="basic-addon1">
            </div>
            <div class="input-group mb-3">
              <span class="input-group-text" id="phone">Phone Number:</span>
              <input type="text" class="form-control" aria-label="Username" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
          </div>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src='https://api.mapbox.com/mapbox-gl-js/v2.3.1/mapbox-gl.js'></script>
    <script>
      mapboxgl.accessToken = 'pk.eyJ1IjoiZG1lc2hjaDAiLCJhIjoiY2t5YzJmMzFqMGlxbTJxcDV1YWt3MzNieiJ9.I84nlC_vEYCAIqScJWAvsg';
      var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',
        center: [38.45622243442273, 55.803225380908366],
        zoom: 10,
      });
    </script>
  </body>
</html>
